<div class="content-text">
    <p>{{gist.content}} #gistofit </p>
    <!-- gist-card url="{{ gist.url }}"></gist-card -->

<div class="gist_card">
    <open-external url=url exit="closeBrowser()" 
                   load-start="loadStart()"
                   load-stop="loadStop()"
                   load-error="loadError()">
    <img width="100%" ng-src="{{ extract.images[0].url }}" />
    </open-external>
      <h4 >{{ extract.title }}</h4>
      <span>{{ extract.description}}</span>
      <br/><span>{{url | domain}}</span>
      <button ng-click="load_more(extract)" class="button--quiet">More</button>
      <div id="extract-content" ng-show="more" ng-bind-html="extract.content">
      </div>
</div>
<p>{{gist.likes}} likes &nbsp; <span ng-click="load_comments(gist.url.key.raw.name, gist.id);" >{{gist.comments}} comments</span></p>

<div class="content-controller" style="text-align:center;">
<button ng-click="likeGist(gist.url.key.raw.name, gist.id)" class="toolbar-button button-bar-item">
  <i class="fa fa-thumbs-o-up"></i>&nbsp;Like
</button>
<form ng-submit="submit_comment_form()" ng-show="commentIt">
  Gist of it:<br>
  <textarea name="comment" rows="5" cols="100" ng-model="gist_form.comment"></textarea><br>
  <input class="button form" type="submit" value="Submit" name="submit">
</form>
<button ng-click="commentIt = !commentIt;" class="toolbar-button button-bar-item">
  <i class="fa fa-comment"></i>&nbsp;Comment
</button>
<button class="toolbar-button button-bar-item">
  <i class="fa fa-share"></i>&nbsp;Share
</button>
</div>
</div>
