<script type="text/ons-template" id="{{gist.id}}.html">
<div>
This is {{gist.id}} extract content
</div>
}
</script>


<div class="gist_card">
    <open-external url=url exit="closeBrowser()" 
                   load-start="loadStart()"
                   load-stop="loadStop()"
                   load-error="loadError()">
    <img width="100%" ng-src="{{ extract.images[0].url }}" />
    </open-external>
      <h4 >{{ extract.title }}</h4>
      <span>{{ extract.description}}</span>
      <br/><span>{{url | domain}}</span>
      <button ng-click="load_more(gist.id)" class="button--quiet">More</button>
      <div id="extract-content" ng-show="more" ng-bind-html="extract.content">
      </div>
</div>
<p>{{likes}} likes &nbsp; 3 comments</p>
