<div class="gist_url">
    <open-external url=url exit="closeBrowser()" 
                   load-start="loadStart()"
                   load-stop="loadStop()"
                   load-error="loadError()">
    <img width="100%" src="http://rack.2.mshcdn.com/media/ZgkyMDE0LzA3LzE0L2RiL0FpcnBsYW5lX1NlLmU2MDU5LmpwZwpwCXRodW1iCTk1MHg1MzQjCmUJanBn/15dd3293/ede/Airplane_Seats.jpg" />
    </open-external>
      <h4>Airplane Seats Are About to Get Smaller and Even More Uncomfortable</h4>
      <span>Airbus may say these standing airline seats are just a concept, but the future of economy seating isn&#x27;t looking good.</span>
      <br/><span>{{url | domain}}</span>
</div>
