<div class="list">

  <div class="item item-divider">
    MENU 
  </div>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-heart"></i>
    Likes
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-reply"></i>
    Replies 
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person"></i>
    My #GistOfIt 
  </a>

  <div class="item item-divider">
    PROFILE 
  </div>
  
  <a class="item item-icon-left" href="#">
    <i class="icon ion-gear-b"></i>
    Log In
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-gear-b"></i>
    Settings
  </a>
</div>
