<ons-page >
    <ons-toolbar>
      <div class="center">Toolbars</div>
      <div class="left">
      <ons-toolbar-button ng-click="menu.toggleMenu()">
        <ons-icon icon="bars">
      </ons-toolbar-button>
      </div>
    </ons-toolbar>

<!-- div class="menu-segment position-relative padding-little">
      <div class="button-bar">
        <div class="button-bar__item">
          <button class="button-bar__button">
            <i class="fa fa-briefcase"></i>
            Business
          </button>
        </div>
        <div class="button-bar__item">
          <button class="button-bar__button">
            <i class="fa fa-mobile"></i>
            Tech
          </button>
        </div>
        <div class="button-bar__item">
          <button class="button-bar__button">
            <i class="fa fa-ticket"></i>
          Entertainment
          </button>
        </div>
        <div class="button-bar__item">
          <button class="button-bar__button">
            <i class="fa fa-globe"></i>
          US/World
          </button>
        </div>
    </div -->

    <div class="scroll-area" >
      <ul ng-repeat="gist in gists" class="list list-container">
        <li class="list__item list__item__line-height list-item-adjust">
          <div class="list-item-info">
            <div class="list-item-info-icon">
              <img src="images/3152983303_4c0fd3140b_q.jpg">
            </div>
            <div class="list-item-info-main">
              <span class="text">
              <strong>Cassey Song</strong> with
              <strong>Harrison Smith </strong> with
              <strong>3 others</strong>
              </span>
              </span>
              <br />
              <span class="lucent">24 minutes ago
              <i class="fa fa-globe"></i>
              </span>
            </div>
          </div>
          <div class="content-text">
            <p>{{gist.content}} #gistofit </p>
            <gist-card url="{{ gist.url }}""></gist-card>
          </div>
          <div class="content-controller" style="text-align:center;">
            <button ng-click="like_gist(gist.url, gist.id)" class="icon-button button-bar-item">
              <i class="fa fa-thumbs-o-up"></i>&nbsp;Like
            </button>
            <button class="icon-button button-bar-item">
              <i class="fa fa-comment"></i>&nbsp;Comment
            </button>
            <button class="icon-button button-bar-item">
              <i class="fa fa-share"></i>&nbsp;Share
            </button>
          </div>
          <br />
        </li>
      </ul>
    </div>
</ons-page>
