    <ons-tabbar var="tabs">
      <ons-tabbar-item 
        active="true"
        icon="clock-o"
        label="Recent"
        ng-click="loadRecentGists()"
        page="navigator1.html"
        ></ons-tabbar-item> 
      <ons-tabbar-item 
        icon="bolt"
        label="Trending"
        ng-click="loadTrendingGists()"
        page="navigator1.html"
        ></ons-tabbar-item> 
      <ons-tabbar-item 
        icon="list-ul"
        label="Waiting"      
        page="waiting.html"
        ></ons-tabbar-item> 
    </ons-tabbar>  
         

