-webkit-scrollbar {
    display: none;
}

.float-left {
    float: left;
}

.menu-segment .fa {
    font-size: 12px;
}

.menu-segment .button-bar {
    width: 100%;
}

.padding-little {
    padding: 8px;
}

.position-relative {
    position: relative;
}

.badge-notification {
    position: absolute;
    top: 0px;
    left: 225px;
}

.pull-to-refresh {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: -40px auto 0;
  padding: 0;
  width: 100%;
  height: 40px;
  border-bottom: 1px dashed #ccc;
  text-align: center;
  line-height: 40px;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-property: margin;
  -moz-transition-property: margin;
  transition-property: margin;
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  transform: translateZ(0px);
}

.scroll-area {
  position: fixed;
/*  height: 100%; */
  overflow-y: scroll;
  -webkit-backface-visibility: none;
  -webkit-overflow-scrolling: touch;
}

.navbar-fixed-top ~ .content {
  top: 100px;
}

.list-group-table {
  margin-bottom: 0px;
}

/*
.list-group-table .list-group-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-right-width: 0;
  border-left-width: 0;
  border-radius: 0px;
  background: none;
  height: 45px;
}
.list-group-table .list-group-item:first-child {
  border-top-width: 0;
}

.list-container {
    margin: 10px 10px 10px 10px;
}
*/

.list-item-adjust {
    line-height: 14px;
    min-height: 14px;
    font-size: 12px;
    border-bottom: 10px solid #f0eff4;
}

.list-item-info {
    padding: 10px 0px 0px 0px;
}

.list-item-info:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.list-item-info-icon {
    float: left;
}

.list-item-info-icon img {
    float: left;
    width: 16px;
    height: 16px;
}

.list-item-info-main {
    float: left;
    width: 75%;
    margin: 0px 5px;
}

.list-item-info-main .text {
    line-height: 16px;
    min-height: 16px;
}

.lucent {
    opacity: 0.4;
}

.fb-check {
    position: absolute;
    right: 10px;
    top: 8px;
    line-height: 26px;
    opacity: 0.4;
}

.content-text {
    padding: 0px 0px 0px 0px;
}

.content-text img {
    margin: 0px -15px;
}

.content-controller {
    width: 100%;
}

.content-controller-button-leftbar {
    border-left: solid 1px #ddd;
}

.navigation-bar-icon {
    padding: 0px 3px;
}

.tabbar-fullsize {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.button-bar-item {
    display: inline-block;
    margin: 0 auto;
    border: none;
    font-size: 12px;
}

#extract-content img {
    width: 100%;
}

.article-extract {
  width: 100%;
}

.article-extract img {
  width: 100%;
}

.article-extract-title {
  text-overflow: ellipsis;
}
